@import "../bower_components/bootstrap/less/bootstrap.less";
@import "custom_variables.less";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import 'mondayregular.css';

.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
    -webkit-box-shadow: @x @y @blur @spread rgba(0, 0, 0, @alpha);
    -moz-box-shadow:    @x @y @blur @spread rgba(0, 0, 0, @alpha);
    box-shadow:     @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.inline-block {
    display: inline-block;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 26px;
  padding-top: @navbar-height + @navbar-default-top-border;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 26px;
  background-color: @brand-primary;
}

.main-content {
    padding-bottom: 80px;
}

.social-media-list {
    position: fixed;
    z-index: 10;
    top: @navbar-height + @navbar-default-top-border + 90px;
    left: 0;
    a {
        padding: 14px 12px 14px 9px;
        margin-bottom: 5px;
        background-color: @brand-primary;
        display: block;
        &,
        &:hover,
        &:active,
        &:focus {
            color: white;
        }
    }
}

.navbar-up {
    top: -(@navbar-height + @navbar-default-top-border);
}

.navbar-default {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-top: @navbar-default-top-border solid @brand-primary;
    .nav {
        > li > a {
            position: relative;
            padding-left: 50px;
            padding-right: 50px;
            font-weight: 600;
        }
        > .active a:hover,
        > .active {
            .img-navbar {
                display: none;
            }
            .img-navbar-alt {
                color: @navbar-default-bg;
            }
        }
        a:hover {
            .img-navbar {
                display: none;
            }
            .img-navbar-alt {
                color: @brand-primary;
            }
        }
    }
    .navbar-brand {
        height: @navbar-height + @navbar-default-top-border;
        padding: 50px;
        background-color: @navbar-default-bg;
        .drop-shadow(0; -20px; 80px; -5px; 0.2);
        margin-top: -(@navbar-default-top-border);
        img {
            height: 100%;
            width: auto;
        }
        &:hover,
        &:focus {
          background-color: @navbar-default-bg;
        }
    }
    .img-navbar {
        width: auto;
        height: 70px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
    }
    .img-navbar-alt {
        color: @navbar-default-bg;
    }
    .navbar-right {
        margin-right: 5%;
    }
}

.featured-letter {
    position: relative;
    .featured-letter-illustration {
        .drop-shadow (2px; 2px; 10px; 0; 0.05);
    }
    .letter-info {
        position: absolute;
        margin-left: 40px;
    }
}

.letter-info {
    color: @brand-primary;
    .letter-info-content {
        max-width: 190px;
        padding-right: 20px;
        padding-bottom: 12px;
        border-bottom: 1px @brand-primary solid;
    }
    .letter-info-link {
        padding-top: 16px;
        padding-bottom: 16px;
        display: block;
    }
    border-bottom: 6px @brand-primary solid;
}

.letters-list-nav {
    > li > a {
        padding: 15px 30px;
        font-weight: 700;
        font-size: 18px;
        &,
        &:focus,
        &:active {
            color: black;
            text-decoration: none;
        }
        &:hover {
            color: @brand-secondary;
            text-decoration: underline;
        }
    }
    > li.active > a {
        color: @brand-secondary;
    }
}

.letters-categories-nav {
    margin-left: 20px;
    > li > a {
        padding: 15px 8px;
        font-size: 18px;
        &,
        &:focus,
        &:active {
            color: black;
            text-decoration: none;
        }
        &:hover {
            color: @brand-primary;
            text-decoration: none;
        }
    }
    > li.active > a {
        color: @brand-primary;
    }
}

.letter-list-icon {
    position: relative;
    width: 100%;
    .letter-list-icon-link {
        position: absolute;
        text-align: center;
        border-bottom: 10px solid @brand-primary;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        visibility: hidden;
    }
    .overlay {
        background-color: white;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
    }
    a:hover .letter-list-icon-link,
    a:hover .overlay {
        visibility: visible;
    }
}

.letter-header {
    .letter-info {
        position: absolute;
        left: 8%;
    }
}

.project-heading {
        font-family: 'mondayregular', cursive;
        color: @brand-primary;
        font-size: 54px;
}

.project-card {
    padding: 60px 80px;
    background-color: @navbar-default-bg;
}
.project-card-left-container {
    padding-left: 0;
}
.project-card-right-container {
    padding-right: 0;
}

.project-mailbox {
    width: 200px;
    &.orange-mailbox {
        position: fixed;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
    }
    &.white-mailbox {
        position: absolute;
        left: 5%;
        top: 20%;
    }
    &.yellow-mailbox {
        position: fixed;
        left: 5%;
        bottom: -60%;
    }
    &.red-mailbox {
        position: fixed;
        right: 5%;
        bottom: -20px;
    }
}

.team-stamps-container {
    position: relative;
    .team-stamp-wrapper {
        display: inline-block;
        margin-left: 15px;
        margin-right: 15px;
    }
    .team-stamp {
        display: block;
        color: white;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: bottom;
        width: 100%;
        padding: 30px 25px;

        .name {
            font-family: 'mondayregular', cursive;
            font-size: @font-size-h4;
            margin-top: 0;
            margin-bottom: 5px;
        }
        p {
            font-size: 12px;
        }
    }
    .o-chung {
        .team-stamp {
            background-image: url('/static/img/icons/stamp red 01.png');
        }
        width: 240px;
    }
    .trina-wang {
        .team-stamp {
            background-image: url('/static/img/icons/stamp pink 02.png');
        }
        width: 180px;
    }
    .pik-shuen-fung {
        .team-stamp {
            background-image: url('/static/img/icons/stamp red 03.png');
        }
        width: 170px;
    }
    .lillienne-zen {
        .team-stamp {
            background-image: url('/static/img/icons/stamp blue 04.png');
        }
        width: 200px;
    }
    .vania-wat {
        .team-stamp {
            background-image: url('/static/img/icons/stamp red 05.png');
        }
        width: 180px;
    }
    .zan-anderle {
        .team-stamp {
            background-image: url('/static/img/icons/stamp red 06.png');
        }
        width: 220px;
    }
    .rachel-suen {
        .team-stamp {
            background-image: url('/static/img/icons/stamp red 08.png');
        }
        width: 180px;
    }
    .wei-zheng {
        .team-stamp {
            background-image: url('/static/img/icons/stamp orange 09.png');
            height: 170px;
            padding: 40px 20px;
            text-align: center;
        }
        width: 170px;
    }
    .emeritus-members {
        .team-stamp {
            background-image: url('/static/img/icons/stamp blue 07.png');
        }
        width: 240px;
    }
}

.form-submit {
    width: 100%;
    border: 0;
    border-bottom: 1px solid black;
    &:focus {
        outline: none;
    }
}

.submit {
    position: relative;
    margin-bottom: 3em;
    label {
        position: absolute;
        font-size: 24px;
        font-weight: 400;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        pointer-events: none;
    }
    &.submit-not-active {
        label {
            bottom: 25%;
            left: 0;
        }
    }
    &.submit-active {
        label {
            bottom: 90%;
            color: @brand-primary;
        }
        .form-submit {
            border-bottom-color: @brand-primary;
        }
    }
    &.submit-filled-in {
        label {
            color: black;
            bottom: 90%;
        }
        .form-submit {
            border-bottom-color: black;
        }
    }

.category-length-info {
    margin-top: 20px;
    margin-left: -40px;
    .category-length-info-description {
        color: @brand-primary;
        font-size: @font-size-small;
        border-bottom: 1px solid @brand-primary;
        padding-bottom: 10px;
    }
    .category-length-info-link {
        font-weight: 600;
        padding-top: 10px;
        display: block;
    }
}
}