{% extends "base.html" %}
{% load static pipeline %}

{% block extra_js %}
{% javascript 'stellar' %}
<script>
    $('body').stellar({
        // Set scrolling to be in either one or both directions
          horizontalScrolling: false,
          // Enable or disable the two types of parallax
          parallaxBackgrounds: false,
          // Hide parallax elements that move outside the viewport
          hideDistantElements: false,
          responsive: true,
    });
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <div class="col-xs-2 col-sm-6">

        </div>
        <div class="col-xs-10 col-sm-6 project-card-right-container">
            <div class="project-card">
                <h1 class="project-heading">About the pr<span style="letter-spacing: -8px;">o</span>ject</h1>
                <p>
                Here is a collection of letters filled with the dreams, fears, and revelations of incredible people around the world.

                If you could tell your 25-year-old self anything at all, what would you say?
                </p>
            </div>
        </div>
        <div class="col-xs-10 col-sm-6 project-card-left-container">
            <div class="project-card">
                <h1 class="project-heading">Mission</h1>
                <p>
                    We believe in living life true to ourselves. We share what is important to us and inspire in each other the courage to live a life we love.

                    Our collection of letters is not only for 20-somethings at the beginning of their careers, but also for people of all ages. Whether you are 15, 25, or 65, there is no time like now to do what you love.
                </p>
            </div>
        </div>
    </div>

    <img src="{% static 'img/icons/Orange mailbox - project page.png' %}" alt="Mailbox" class="project-mailbox orange-mailbox" data-stellar-ratio="0.5">

    <img src="{% static 'img/icons/red mailbox - project page.png' %}" alt="Mailbox" class="project-mailbox red-mailbox" data-stellar-ratio="1.8">
    <img src="{% static 'img/icons/yellow mailbox project page.png' %}" alt="Mailbox" class="project-mailbox yellow-mailbox" data-stellar-ratio="1.4">
    <img src="{% static 'img/icons/white mailbox - project page.png' %}" alt="Mailbox" class="project-mailbox white-mailbox" data-stellar-ratio="1.2">

</div>

<br/>
<br/>
<br/>
<br/>


<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center">
            <h1 class="project-heading">Team</h1>
        </div>
    </div>
    <div class="hidden-xs">
        <br/>
        <br/>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="team-stamps-container">
                <div class="team-stamp-wrapper o-chung">
                    <div class="team-stamp">
                        <h3 class="name">O Woomi Chung</h3>
                        <p>Illustrator, is a big supporter of stress laughing</p>
                        <br/>
                    </div>
                </div>           
                <div class="team-stamp-wrapper trina-wang">
                    <div class="small-stamp"></div>
                    <div class="team-stamp">
                        <h3 class="name">Trina Wang</h3>
                        <p>Social Media Manager, curious about praxis and flows.</p>
                        <a target="_blank" href="http://twitter.com/trina_wang"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="http://trinawang.wordpress.com/"><i class="fa fa-link"></i></a>
                    </div>
                </div>       
                <div class="team-stamp-wrapper pik-shuen-fung">
                    <div class="team-stamp">
                        <h3 class="name">Pik-Shuen Fung</h3>
                        <p>Founder, is an artist creating spaces for listening.</p>
                        <br/>
                        <br/>
                        <a target="_blank" href="http://www.pikshuen.com/"><i class="fa fa-link"></i></a>
                        <a target="_blank" href="https://instagram.com/piksy/"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
                <div class="team-stamp-wrapper lillienne-zen">
                    <div class="team-stamp">
                        <h3 class="name">Lillienne Zen</h3>
                        <p>Editor-in-Chief, likes to bring out the best in people and their stories.</p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="team-stamp-wrapper vania-wat">
                    <div class="team-stamp">
                        <h3 class="name">Vania Wat</h3>
                        <p>Illustrator, is an insomniac cat lady.</p>
                        <a target="_blank" href="http://vaniawat.com/"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="team-stamps-container">
                <div class="team-stamp-wrapper empty-stamp-wrapper">
                    <div class="small-stamp"></div>
                </div>
                <div class="team-stamp-wrapper zan-anderle">
                    <div class="team-stamp">
                        <h3 class="name">Zan Anderle</h3>
                        <p>Site Developer, is a jazz fiend by day, programmer by night.</p>
                        <a target="_blank" href="https://www.linkedin.com/profile/view?id=282220650"><i class="fa fa-linkedin"></i></a>
                        <a target="_blank" href="https://twitter.com/z_anderle"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="https://instagram.com/zanderle"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="http://musingsonmusic.com"><i class="fa fa-link"></i></a>
                    </div>
                </div>

                <div class="team-stamp-wrapper rachel-suen">
                    <div class="team-stamp">
                        <h3 class="name">Rachel Suen</h3>
                        <p>Illustrator, is always hungry... for some good food.</p>
                        <br/>
                        <br/>
                    </div>
                </div>

                <div class="team-stamp-wrapper wei-zheng">
                    <div class="team-stamp">
                        <h3 class="name">Wei Zheng</h3>
                        <p>Designer, working on Marathon!</p>
                        <a target="_blank" href="http://www.thisweidesign.com/"><i class="fa fa-link"></i></a>
                    </div>
                </div>
                
                <div class="team-stamp-wrapper emeritus-members">
                    <div class="team-stamp">
                        <h3 class="name">Emeritus Members</h3>
                        <p>Walter Bode, Pik-Tone Fung, Norris Hung, Miho Tomimasu, and Amanda Marie Rogers.</p>
                        <br/>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
