{% load pipeline active_tag static %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}Letters to My 25-Year-Old-Self{% endblock %}</title>
        <meta name="description" content="Here is a collection of letters filled with the dreams, fears, and revelations of incredible people around the world. If you could tell your 25-year-old self anything at all, what would you say?">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/static/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/static/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/static/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/manifest.json">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/static/mstile-144x144.png">
        <meta name="msapplication-config" content="/static/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        {% stylesheet 'pace' %}
        {% stylesheet 'custom' %}
        {% stylesheet 'font-awesome' %}

        {% javascript 'pace' %}

        {% block extra_css %}
        {% endblock extra_css %}

        {% if not debug %}
          <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
          <script>
              (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
              function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
              e=o.createElement(i);r=o.getElementsByTagName(i)[0];
              e.src='//www.google-analytics.com/analytics.js';
              r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
              ga('create','UA-42301112-1','auto');ga('send','pageview');
          </script>
        {% endif %}
        <!--[if lt IE 8]>   
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'letters:home' %}"><img src="{% static 'img/new-logo.png' %}" alt="Letters to my 25-year-old self logo"></a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="{% add_active request 'letters:home;letters:popular;letters:categories' '/categories/' %}"><a href="{% url 'letters:home' %}">
            <span class="img-navbar-alt">Letters</span>
            <img class="img-navbar" src="{% static 'img/red_mailbox_menu.png' %}" alt="Letters">
            </a></li>
            <li class="{% add_active request 'letters:project' %}"><a href="{% url 'letters:project' %}">
            <span class="img-navbar-alt">About</span>
            <img class="img-navbar" src="{% static 'img/my25-18.png' %}" alt="Project">
            </a></li>
            <li class="{% add_active request 'letters:submit' %}"><a href="{% url 'letters:submit' %}">
            <span class="img-navbar-alt">Submit</span>
            <img class="img-navbar" src="{% static 'img/mailbox_menu.png' %}" alt="Submit">
            </a></li>
          </ul>
          
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% block social_links %}
    <div class="social-media-list">
      <a href="http://www.facebook.com/LettersToMy25YearOldSelf"><i class="fa fa-lg fa-fw fa-facebook"></i></a>
      <a href="http://twitter.com/25yearoldself"><i class="fa fa-lg fa-fw fa-twitter"></i></a>
      <a href="http://letterstomy25yearoldself.tumblr.com/"><i class="fa fa-lg fa-fw fa-tumblr"></i></a>
      {# <a href="#"><i class="fa fa-lg fa-fw fa-envelope"></i></a> #}
    </div>
    {% endblock %}
    <div class="main-content">
      {% block content %}
      {% endblock content %}
    </div>

    
      <footer class="footer">
        &copy; Letters to My 25-Year-Old Self, 2015
      </footer>
    </div> <!-- /container -->

    {% javascript 'jquery' %}
    {% javascript 'vendor' %}

    {% block extra_js %}
    {% endblock extra_js %}
    </body>
</html>
