{% extends "base.html" %}
{% load thumbnail active_tag %}

{% block extra_js %}
{% if submitted %}
<script>
    $('#submitted-letter-modal').modal('show');
</script>
{% endif %}
<script>
    $(document).ready(function () {
        $('.link-to-letter-mobile').on('click', function(e) {
            e.preventDefault();
            $(this).siblings('.letter-list-icon').children('.link-to-letter').toggleClass('mobile-hover');
            $(this).children('.fa').toggleClass('fa-plus-square-o fa-minus-square-o');
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
<div class="hidden-xs">
<br/>
<br/>
<br/>
</div>
    <div class="row hidden-xs">
        <div class="col-xs-12">
        <div class="featured-letter">
            <img class="img-responsive inline-block center-block featured-letter-illustration" src="{{ featured.illustration|thumbnail_url:'featured' }}" alt="{{ featured.illustration.default_alt_text }}">

            <div class="letter-info inline-block text-left {% if not featured.published%}unpublished{% endif %}">
                <div class="letter-info-content">
                    {% if not featured.published%}[Unpublished]<br/>{% endif %}
                    <strong>{{ featured.author }}</strong><br/>
                    {{ featured.age }}<br/>
                    {{ featured.occupation }}<br/>
                    {{ featured.location }}<br/>
                    <br/>
                    Illustration by <br/>
                    {{ featured.illustration.author }}
                </div>
                <a class="letter-info-link" href="{% url 'letters:letter' featured.slug %}">Read more &raquo;</a>
            </div>
        </div>
        </div>
    </div>

<br/>
<br/>

    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline letters-list-nav">
                <li class="{% add_active request 'letters:home' %}"><a href="{% url 'letters:home' %}">Latest</a></li>
                <li class="{% add_active request 'letters:popular' %}"><a href="{% url 'letters:popular' %}">Most Popular</a></li>
                <li class="{% add_active request 'letters:categories' %}"><a href="{% url 'letters:categories' %}">Categories</a></li>
            </ul>
        </div>
    </div>

    <br/>

    <div class="row">
        {% for letter in object_list %}
            <div class="col-xs-12 col-sm-4 col-md-3">

                <div class="letter-list-icon">
                    <img class="img-responsive center-block" src="{{ letter.illustration|thumbnail_url:'list-size' }}" alt="{{ letter.illustration.default_alt_text }}">
                    <a class="link-to-letter {% if not letter.published%}unpublished{% endif %}" href="{% url 'letters:letter' letter.slug %}">
                        <div class="overlay"></div>
                        <div class="letter-list-icon-link">
                        <span>
                            {{ letter.author }}, {{ letter.age }} <br/>
                            {{ letter.occupation }}, {{ letter.location }}
                        </span>
                        </div>
                    </a>
                </div>
                <a href="#" class="visible-xs-block text-center link-to-letter-mobile">
                <i class="fa fa-plus-square-o fa-lg"></i></a>
            </div>
        {% endfor %}
    </div>

</div>

<button type="button" data-toggle="modal" data-target="#submitted-letter-modal" class='hidden'></button>
<div class="modal fade" id="submitted-letter-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title modal-title-submitted h3">Success!</h4>
      </div>
      <div class="modal-body">
        <p>Yay, your letter has been sent! You should soon receive an automatic confirmation email from us. If you don't, you might want to <a href="mailto:letterstomy25yearoldself@gmail.com">contact us</a> in case something went wrong.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
