{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<div class="container">
<br/>
<br/>
<br/>
    
    <div class="row">
        <div class="col-xs-12">
        <div class="featured-letter">
            <img class="img-responsive inline-block center-block featured-letter-illustration" src="{{ featured.illustration|thumbnail_url:'featured' }}" alt="{{ featured.illustration.default_alt_text }}">

            <div class="letter-info  inline-block text-left">
                <div class="letter-info-content">
                    <strong>{{ featured.author }}</strong><br/>
                    {{ featured.age }}<br/>
                    {{ featured.occupation }}<br/>
                    {{ featured.location }}<br/>
                    <br/>
                    Illustration by <br/>
                    {{ featured.illustration.author }}
                </div>
                <a class="letter-info-link" href="{% url 'letters:letter' featured.slug %}">Read more &raquo;</a>
            </div>
        </div>
        </div>
    </div>

<br/>
<br/>

    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline letters-list-nav">
                <li class="active"><a href="{% url 'letters:home' %}">Latest</a></li>
                <li><a href="{% url 'letters:popular' %}">Most Popular</a></li>
                <li><a href="{% url 'letters:categories' %}">Categories</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        {% for letter in object_list %}
            <div class="col-xs-3">
                <div class="letter-list-icon">
                    <a href="{% url 'letters:letter' letter.slug %}">
                        <img class="img-responsive center-block" src="{{ letter.illustration|thumbnail_url:'list-size' }}" alt="{{ letter.illustration.default_alt_text }}">
                        <div class="overlay"></div>
                        <div class="letter-list-icon-link">
                        <span>
                            {{ letter.author }}, {{ letter.age }} <br/>
                            {{ letter.occupation }}, {{ letter.location }}
                        </span>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}
