{% extends "base.html" %}
{% load thumbnail pipeline %}

{% block extra_css %}
    {% stylesheet 'font-awesome' %}
{% endblock %}

{% block extra_js %}
    {% javascript 'navbar-scroll' %}
{% endblock %}

{% block social_links %}{% endblock %}

{% block content %}
<div class="container">

<br/>
<br/>
<br/>
    
    <div class="row">
        <div class="col-xs-12">
        <div class="letter-header">
            <div class="letter-info  text-left">
                <div class="letter-info-content">
                    <strong>{{ letter.author }}</strong><br/>
                    {{ letter.age }}<br/>
                    {{ letter.occupation }}<br/>
                    {{ letter.location }}<br/>
                    <br/>
                    Illustration by <br/>
                    {{ letter.illustration.author }}
                </div>
            </div>
            <div class="visible-xs">
            <br/>
                <span class="pull-left">
                    <a class="mobile-next-letter" href="{% url 'letters:letter' next_letter.slug %}">Next</a>
                </span>
                <span class="pull-right">
                    <a class="mobile-previous-letter" href="{% url 'letters:letter' previous_letter.slug %}">Previous</a>
                </span>
            </div>
            <img class="img-responsive center-block" src="{{ letter.illustration|thumbnail_url:'featured' }}" alt="{{ letter.illustration.default_alt_text }}">
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
            {{ letter.letter }}
        </div>
    </div>

</div>

{% if next_letter %}
    <div class="next-letter hidden-xs">
        <a href="{% url 'letters:letter' next_letter.slug %}">
            <div class="letter-preview-card">
                <img src="{{ next_letter.illustration|thumbnail_url:'list-size' }}" alt="{{ next_letter.illustration.default_alt_text }}">
                <div class="letter-preview-card-info">
                    <b>{{ next_letter.author }}</b> <br/>
                    <span class="smaller-info">{{ next_letter.age }}, {{ next_letter.occupation }}, {{ next_letter.location }}</span>
                </div>
            </div>
            <i class="fa fa-angle-left fa-3x"></i><span class="sr-only">Next letter</span>
        </a>

    </div>
{% endif %}

{% if previous_letter %}
    <div class="previous-letter hidden-xs">
        <a href="{% url 'letters:letter' previous_letter.slug %}">
            <div class="letter-preview-card">
                <img src="{{ previous_letter.illustration|thumbnail_url:'list-size' }}" alt="{{ previous_letter.illustration.default_alt_text }}">
                <div class="letter-preview-card-info">
                    <b>{{ previous_letter.author }}</b> <br/>
                    <span class="smaller-info">{{ previous_letter.age }}, {{ previous_letter.occupation }}, {{ previous_letter.location }}</span>
                </div>
            </div>
            <i class="fa fa-angle-right fa-3x"></i><span class="sr-only">Previous letter</span>
        </a>

    </div>
{% endif %}
{% endblock %}
