{% extends "base.html" %}
{% load pipeline static %}

{% block extra_js %}
{% javascript 'form-submit' %}
{% endblock %}

{% block social_links %}{% endblock %}

{% block content %}
<div class="container">
<br/>
<br/>
<br/>
<br/>
    <form action="" method="post" id="letter-submission-form">
    {% csrf_token %}
        <div class="row">
            <div class="col-xs-12">
                {{ form.non_field_errors }}
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.author.id_for_label }}">Name
                    {% if form.author.errors %}
                     - <span class="errorlist">{% for error in form.author.errors %}{{ error|escape }}{% endfor %}</span>
                    {% endif %}
                    </label>
                    {{ form.author }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.age.id_for_label }}">Age
                    {% if form.age.errors %}
                     - <span class="errorlist">{% for error in form.age.errors %}{{ error|escape }}{% endfor %}</span>
                    {% endif %}
                    </label>
                    {{ form.age }}
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.occupation.id_for_label }}">Occupation
                    {% if form.occupation.errors %}
                     - <span class="errorlist">{% for error in form.occupation.errors %}{{ error|escape }}{% endfor %}</span>
                    {% endif %}
                    </label>
                    {{ form.occupation }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <label for="{{ form.location.id_for_label }}">Location
                    {% if form.location.errors %}
                     - <span class="errorlist">{% for error in form.location.errors %}{{ error|escape }}{% endfor %}</span>
                    {% endif %}
                    </label>
                    {{ form.location }}
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label for="{{ form.letter.id_for_label }}">Letter
                    {% if form.letter.errors %}
                     - <span class="errorlist">{% for error in form.letter.errors %}{{ error|escape }}{% endfor %}</span>
                    {% endif %}
                    </label>
                    {{ form.letter }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4 col-md-2 col-md-offset-5">
                <input type="image" src="{% static 'img/icons/postman.png' %}" alt="Submit your letter" class="center-block img-responsive submit-button">
            </div>
            <div class="hidden">
                Leave the next input empty - it's not a real input, just trying to fool bots.
                <label for="{{ form.phonenumber.id_for_label }}">Phonenumber:</label>
                {{ form.phonenumber }}
            </div>
        </div>



        <button type="button" data-toggle="modal" data-target="#submit-letter-modal" class='hidden'></button>
        <div class="modal fade" id="submit-letter-modal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title modal-title-submitted h3">Thank you!</h4>
              </div>
              <div class="modal-body">
              <br/>
              <br/>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Your email
                    {% if form.email.errors %}
                     - <span class="errorlist">{% for error in form.email.errors %}{{ error|escape }}{% endfor %}</span>
                    {% endif %}
                    </label>
                    {{ form.email }}
                </div>
                <p>Thank you for submitting a letter! Please leave us your email, so we can contact you about possible edits and to notify you when the letter is posted.</p>
              </div>
              <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="Send">
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


    </form>
</div>
{% endblock %}
